<div class="user-form">
  <form>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Project Name</span>
      <input type="text" placeholder="MyFlightApp"
      ng-model="userFormController.project.name">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Project Description</span>
      <input type="text"
      placeholder="Helps users connect with each other and share travel tips"
      ng-model="userFormController.project.description">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Requirements:</span>
      <input class="user-form-label" type="text" placeholder="AngularJs Front-end UX Python"
      ng-model="userFormController.project.requirements"
      ng-bind="userFormController.makeLabel()">
    </label>
  </form>
</div>